.about {
    -fx-pref-width: 250;
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-width: 3;
    -fx-spacing: 5;
}

.about-text {
    -fx-wrap-text: true;
    -fx-pref-width: 240;
    -fx-padding: 0 10 0 10;
}

.about-link {
    -fx-padding: 0 0 0 10;
}

.about-section-title {
    -fx-font-family: Futura;
    -fx-font-size: 8;
    -fx-underline: true;
    -fx-padding: 10 10 0 10;
}

.about-section-subtitle {
    -fx-font-family: Futura;
    -fx-font-size: 7;
    -fx-underline: true;
    -fx-padding: 0 10 0 10;
}

.app-title {
    -fx-font-family: Futura;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.app-subtitle {
    -fx-font-family: Futura;
    -fx-font-size: 8;
}

.button {
    -fx-pref-width: 30;
    -fx-pref-height: 15;
    -fx-font-family: Courier;
    -fx-font-size: 6;
}

.button-box {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.button-group-title {
    -fx-alignment: baseline-left;
    -fx-font-size: 7;
    -fx-font-family: Courier;
    -fx-underline: true;
}

.button-row {
    -fx-padding: 5 5 5 5;
    -fx-alignment: center;
    -fx-spacing: 5;
    -fx-font-family: Courier;
}

.picker-row {
    -fx-padding: 0 5 5 5;
    -fx-alignment: center;
    -fx-spacing: 5;
    -fx-font-family: Courier;
}

.unit-row {
    -fx-padding: 5;
    -fx-alignment: center;
    -fx-spacing: 5;
    -fx-font-family: Courier;
}

.picker-set {
    -fx-padding: 0 5 5 0;
    -fx-alignment: center;
    -fx-vgap: 3;
    -fx-hgap: 5;
    -fx-font-family: Courier;
}

.button-column {
    -fx-alignment: center;
    -fx-font-family: Courier;
    -fx-border-width: 1;
    -fx-border-color: transparent #000000 transparent transparent;
    -fx-border-style: none solid none none;
}

.bottom-buttons {
    -fx-spacing: 5;
    -fx-padding: 0 0 5 0;
}

.channel-combo {
    -fx-pref-width: 35;
    -fx-font-size: 6;
}

.slider-new {
    -fx-tick-mark-visible: true;
}

.tab-pane {
    -fx-font-family: Courier;
    -fx-font-size: 6;
}

.bitwise-control {
    -fx-alignment: center;
    -fx-padding: 0 8 0 8;
    -fx-spacing: 5;
    -fx-border-style: dashed;
    -fx-border-color: slategrey;
    -fx-border-radius: 10 10 10 10;
}

.control{
    -fx-alignment: center;
    -fx-padding: 0 5 0 5;
}

.param-label {
    -fx-font-family: Courier;
}

.group-label {
    -fx-font-size: 7px;
    -fx-padding: 0 0 10 0;
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-font-family: "Courier New";
}

.group-control {
    -fx-border-style: solid;
    -fx-border-color: slategrey;
    -fx-border-radius: 0 10 0 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-width: 1;
    -fx-alignment: center;
}

.group-groups {
    -fx-spacing: 5;
    -fx-alignment: center;
}

.logo-view {
    -fx-pref-width: 75;
    -fx-max-width: 25;
}

.tab-layout {
    -fx-spacing: 5;
    -fx-alignment: center;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-border-width: 1;
    -fx-border-color: transparent transparent lightgray transparent;
    -fx-border-style: none none solid none;
}

.check-group {
    -fx-pref-height: inherit;
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-border-width: 3;
    -fx-alignment: center;
    -fx-padding: 3 5 3 5;
}

.check-layout {
    -fx-font-family: Courier;
    -fx-text-alignment: center;
    -fx-font-size: 6;
    -fx-alignment: center;
    -fx-spacing: 3;
    -fx-padding: 0 0 5 0;
    -fx-pref-width: 35;
}

.menu-check-layout {
    -fx-font-family: Courier;
    -fx-text-alignment: center;
    -fx-font-size: 5;
    -fx-alignment: center;
    -fx-spacing: 3;
    -fx-padding: 0 0 5 0;
    -fx-pref-width: 35;
}

.wave-image {
    -fx-max-width: 50;
    -fx-padding: 3 5 3 5;
}

.algo-title{
    -fx-padding: 1 0 2 0;
}

.window-size {
    -fx-pref-width: 600;
    -fx-pref-height: 500;
    -fx-max-width: 600;
    -fx-max-height: 500;
}

.radio-button {
    -fx-pref-width: 5;
}

.menu-label {
    -fx-font-size: 8;
}