.splash-layout {
    -fx-padding: 3;
    -fx-background-color: white;
    -fx-border-width: 3;
    -fx-border-color: darkslategrey;
}

.load-bar {
    -fx-alignment: center;
    -fx-pref-width: 200;
    -fx-padding: 5 0 0 0;
}