
.button {
 -fx-pref-width: 200;
}

.button-row {
 -fx-alignment: center;
 -fx-spacing: 10;
}

.bottom-buttons {
 -fx-spacing: 10;
 -fx-padding: 0 0 10 0;
}

.slider-new{
 -fx-tick-mark-visible: true;
}

.tab-pane{
 -fx-font-family: Courier;
 -fx-font-size: 12;
}

.param-label {
-fx-font-family: Courier;
}

.group-label{
 -fx-font-size: 14px;
 -fx-padding: 0 0 10 0;
 -fx-underline: true;
 -fx-font-weight: bold;
 -fx-font-family: "Courier New";
}

.group-control {
 -fx-border-style: solid;
 -fx-border-color: darkslategray;
 -fx-border-width: 3;
 -fx-alignment: center;
}

.group-groups {
 -fx-spacing: 10;
 -fx-alignment: center;
}

.tab-layout {
 -fx-spacing: 10;
 -fx-alignment: center;
}

.check-group {
 -fx-pref-height: inherit;
 -fx-border-style: solid;
 -fx-border-color: darkslategray;
 -fx-border-width: 3;
 -fx-alignment: center;
 -fx-padding: 0 10 0 10;
}

.check-layout {
 -fx-font-family: Courier;
 -fx-spacing: 10;
 -fx-padding: 0 0 10 0;
}